/*
TYPOGRAPHY
Font families:
Antonio Medium
- h1 - h2

Spartan Bold
- h3 - h4

Spartan Regular
- body text

FontaFamily, Font Size, Lineheight and Spacing
H1 .heading-primary
- Antonio Medium FF
- 80px FS
- 103px Lh

H2 .heading-secondary
- Antonio Medium FF
- 40px FS
- -1.5px spacing
- 52px Lh

H3 .heading-tertiary
- Spartan Bold FF
- 12px FS
- 2.6px spacing
- 25px Lh

H4 .heading-quaternary
- Spartan Bold FF
- 12px FS
-2.6px spacing
- 25px Lh

Body Text
- Spartan Regular FF
- 14px FS
- 25px Lh

Colors

Text
#FFFFFF

Text-Secondary
#838391

Border
#38384F

Background
#070724

*/
/* ===================== ===================== =====================*/
/* ===================== General */
:root {
  --color-text: #ffffff;
  --color-text-secondary: #838391;
  --color-border: #38384f;
  --color-background: #070724;

  /* Planet Related Colors */
  --color-mercury: #419ebb;
  --color-venus: #eda249;
  --color-earth: #6d2ed5;
  --color-mars: #d14c32;
  --color-jupiter: #d83a34;
  --color-saturn: #cd5120;
  --color-uranus: #1ec1a2;
  --color-neputne: #2d68f0;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;

  background-color: var(--color-background);
}
body {
  width: 100%;
  height: 100%;

  font-family: "Spartan", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8;
  color: var(--color-text);
}
.heading-primary,
.heading-secondary,
.heading-tertiary,
.heading-quaternary {
  text-transform: uppercase;
}
.heading-primary,
.heading-secondary {
  font-family: "Antonio", sans-serif;
  font-weight: 500;
}
.heading-primary {
  font-size: 8rem;
  line-height: 1.2875;
}
.heading-secondary {
  font-size: 4rem;
  letter-spacing: -0.15rem;
  line-height: 1.23;
}
.heading-tertiary,
.heading-quaternary {
  font-family: "Spartan", sans-serif;
  font-weight: 700;
}
.heading-tertiary {
  font-size: 1.2rem;
  letter-spacing: 0.26rem;
  line-height: 2.08;
}
.heading-quaternary {
  font-size: 1.4rem;
  letter-spacing: 0.26rem;
  line-height: 2.08;

  color: var(--color-text-secondary);
}
/* ===================== ===================== =====================*/
/* ===================== Main Header */
.main-header {
  position: fixed;
  width: 100%;

  background-color: var(--color-background);
  border-bottom: solid 0.1rem var(--color-border);

  z-index: 1;
}
.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4.4rem;

  max-width: 1440px;
  width: 100%;

  margin: 0 auto;
  padding: 3rem 3.2rem;
}
.logo-text {
  font-family: "Antonio", sans-serif;
  font-size: 2.8rem;
  font-weight: 500;
  text-transform: uppercase;
  font-weight: bold;
}
.main-nav--list {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 3.2rem;
}
/* ===================== ===================== =====================*/
/* ===================== Planet Section */
.section {
  width: 100%;

  height: 100vh;
  max-width: 1000px;

  margin: auto auto;
  padding: 3.2rem;
  padding-top: 124px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6.4rem;
}
.planet-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.img-container img {
  width: 29rem;
}
.img-container {
  flex: 1 0 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
.planet-info {
  flex: 0 0 30%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8rem;
}
.planet-info--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;
}
.planet-info--heading {
  width: 100%;
}
.planet-info--section {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.planet-info--link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--color-border);
}
.planet-info--link a {
  color: var(--color-text-secondary);
  font-weight: bold;
}
.icon-source {
  width: 100%;
  height: 100%;

  max-width: 1.2rem;
}
.secondary-nav {
  width: 100%;
}
.secondary-nav--list {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.secondary-nav--item {
  padding: 2.4rem;
  border: solid 0.1rem var(--color-border);
}
.secondary-nav--item .heading-tertiary span:first-child {
  margin-right: 2.4rem;
  color: var(--color-text-secondary);
}
.planet-footer {
  width: 100%;
}
.planet-parameters {
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.2rem;

  width: 100%;
}
.planet-parameters--parameter {
  flex: 1 0 0;
  padding: 1.6rem;
  padding-bottom: 3.2rem;

  border: solid 0.1rem var(--color-border);
}
@media (max-width: 64em) {
  html {
    font-size: 56%;
  }
}
@media (max-width: 58em) {
  html {
    font-size: 50%;
  }
  .main-header .container {
    flex-direction: column;
  }
  .section {
    min-height: 100vh;
    height: auto;
  }
  .planet-container {
    flex-direction: column;
    gap: 12rem;
  }
  .planet-info {
    flex-direction: row;
    align-items: center;
  }
  .planet-info--container {
    flex: 0 0 40%;
  }
  .secondary-nav--item {
    padding: 1.6rem;
  }
}
@media (max-width: 26.25em) {
  html {
    font-size: 42%;
  }
  .heading-primary {
    text-align: center;
  }
  .main-header .container {
    flex-direction: row;
  }
  .section {
    padding-top: 200px;
    position: relative;
  }
  .planet-info--container {
    flex: 0 0 100%;
  }
  .planet-info--section {
    align-items: center;
    text-align: center;
  }
  .secondary-nav {
    position: fixed;

    top: 109px;
    left: 0;
    right: 0;

    background-color: var(--color-background);
    border-bottom: solid 0.1rem var(--color-border);
  }
  .secondary-nav--list {
    flex-direction: row;

    justify-content: space-evenly;
  }
  .secondary-nav--item {
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .secondary-nav--item .heading-tertiary span {
    display: none;
  }
  .planet-parameters {
    flex-direction: column;
    gap: 2.4rem;
  }
  .planet-parameters--parameter {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    padding-bottom: 0;
    padding: 1.6rem;
  }
}
